


.container{
    display: flex;
    justfy-content: center;
   
}
.google-img{
    max-height: 100%;
    align-self: center;
}
input[name='q']{
    border-radius: 50% 50% 50% 50%;
    padding: 1rem;
}
