


.container{
    display: flex;
    justfy-content: center;
    background: black;
   
}
.google-img{
    max-height: 100%;
    align-self: center;
    background: green;
}
input[name='q']{
    border-radius: 30% 50% 30% 30%;
    padding: 1rem;
}
